:root {
    --tiffany: #67bcbb;
    --tiffany-light: #99E9E7;
    --tiffany-hover: #28a4a4;
    --tiffany-extra-dark: #1D7775;
    --p1-color: #ee2c2c;
    --p2-color: #FFD966;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
}

body,
#react-root {
    width: 100%;
    height: 100%;
}